<hr>
<div class=" container">
  <footer class="row justify-content-between">
    <div class="col-6">
      <p><span>&copy; 2020 Reina all rights reserved.</span></p>
    </div>
    <div class="col-6" style="text-align: right;">
      <p><span>Powered by Bootstrap</span></p>
    </div>
  </footer>
</div>