
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 以上的三个标签必须置顶, 任何标签应该在其后 -->

<meta name="description" content="">
<meta name="author" content="Reina">

<link rel="shortcut icon" href="static/favicon.ico">
<link rel="apple-touch-icon" sizes="76x76" href="static/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="120x120" href="static/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="152x152" href="static/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon-180x180.png" />
<link rel="apple-touch-icon" sizes="58x58" href="static/android-touch-icon.png" />

<!-- <link rel="icon" href="images/favicon.ico"> -->
<title>仙交闲置公告板-XIB</title>


<!-- Bootstrap 框架 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- 通用自定义样式表 -->
<link href="stylesheets/current.css" rel="stylesheet">
<!-- fileinput 插件 -->
<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-fileinput/5.1.2/css/fileinput.css" rel="stylesheet">
<!-- font-awesome 主题 -->
<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
<!-- bricklayer 插件 -->
<link href="https://cdn.bootcdn.net/ajax/libs/bricklayer/0.4.3/bricklayer.css" rel="stylesheet">


<!-- jQuery 库 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>
<!-- clipboard 插件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/2.0.6/clipboard.js"></script>

<!-- masonry 插件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/masonry/4.2.2/masonry.pkgd.js"></script>

<!-- imageloaded 插件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.js"></script>