/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

@media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}

/* @media (min-width: 75em) {
  .card-columns {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
  }
} */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 2.5rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 5rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 24rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 24rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


#itemNav{
  margin-bottom: 1rem;
}


/*
  改变container的宽度
*/
@media (min-width: 1200px) {
  .container{
      max-width: 1200px;
      min-width: 300px;
  }
}

@media (min-width: 2000px) {
  .container{
      max-width: 1600px;
      min-width: 300px;
  }
}


.container-fluid {
  padding: 20px;
  }
.box {
  margin-bottom: 20px;
  float: left;
  width: 350px;
  }
  .box img {
  max-width: 100%
}

.box{ width: 100%;}



@media (min-width: 48em) {
  .box {
    width: 49%;
  }
}

@media (min-width: 62em) {
  .box {
      width: 32%;
  }
}

@media (min-width: 62em) {
  .box {
      width: 32%;
  }
}

@media (min-width: 2200px) {
  .box {
      width: 24%;
  }
}