<div class="jumbotron" style="background-color: whitesmoke;">
    <div class="row">
        <div class="col-lg-6" style="margin-left: 2rem;">
            <img src="images/north_crop.jpg" alt="" class="img-fluid rounded" style="filter: brightness(85%);">
        </div>
        <div class="col-lg-5">
            <h2>快速注册</h2>
            <hr>
            <form action="">
                <div class="col-md-12">
                    <div class="from-group col-lg-12">
                        <label for="netID">思源邮箱</label>
                        <div class="input-group">
                            <input type="text" name="netID" class="form-control" placeholder="NetID" id="netID" autocomplete="off">
                            <div class="input-group-append">
                                <span class="input-group-text">@stu.xjtu.edu.cn</span>
                            </div>
                            <div class="invalid-feedback">
                                请检查输入是否合法
                            </div>
                        </div>
                        <small id="netIDHelper" class="form-text text-muted">为限制用户来源，本站限定使用交大思源邮箱注册</small>
                        
                    </div>
                    <br>
                    <div class="from-group col-lg-12">
                        <label for="userName">用户名</label>
                            <input type="text" name="userName" class="form-control" placeholder="UserName" id="userName" autocomplete="off">
                            <div class="invalid-feedback">
                                请检查输入是否合法
                            </div>
                        <small id="userNameHelper" class="form-text text-muted">4-16个字（字母，数字，下划线，减号）</small>
                        
                    </div>
                    <br>
                    <div class="from-group col-lg-12">
                        <label for="key">密码</label>                
                        <input type="password" name="itemName" class="form-control" placeholder="Password" id="key" autocomplete="off">
                        <div class="invalid-feedback">
                            请检查输入是否合法
                        </div>
                        <small id="keyHelper" class="form-text text-muted">6-20位，包括至少1个大写/小写字母和数字，可以使用特殊符号</small>
                        
                    </div>
                    <br>
                    <div class="form-group col-lg-12">
                        <button id="toRegister" type="button" class="btn btn-outline-success">注册</button>
                    </div>
                    <div id="successMessage" class="alert alert-success fade" role="alert">
                        邮件发送成功! 请在20分钟内查收邮件并点击链接完成注册<br> 点击<a href="https://stu.xjtu.edu.cn">此处</a>进入思源邮箱
                    </div>

                </div>
            </form>
        </div>
    </div>
</div> 



