<!-- 公告栏 -->
<div class="row">
  <div class="col-md-4">
    <h2>广告位招租</h2>
    <p>（￣︶￣）↗ 也不是真想打广告，实在不知道这里放什么了，但是去掉又会变丑，所以先拿来占个位置 </p>
    <p><a class="btn btn-outline-dark" href="" role="button">暂时没用 &raquo;</a></p>
  </div>


  <div class="col-md-4">
    <h2>加入开发者</h2>
    <p>网站尚有很多不够完善的地方，希望有Web开发经验的同学加入我们、并协助建设网站，通过下方链接即可联系我们。</p>
    <p><a class="btn btn-outline-dark" href="javascript:window.open('mailto:' + ['929755067','qq.com'].join('@'))"
        role="button">
        发送邮件 &raquo;
      </a></p>
  </div>

  <div class="col-md-4">
    <h2>加入QQ群</h2>
    <p> 仙交闲置物品置换群建立于2019年。这里不仅是交大买卖闲置的根据地、更是同学愉快交流的场所。</p>
    <p><a target="_blank" class="btn btn-outline-dark"
        href="https://qm.qq.com/cgi-bin/qm/qr?k=14E5Fr69oLiVStf6yLww98-tji6m0Mdg&jump_from=webapi" role="button">
        立即加入 &raquo;
      </a>
      <!-- Button trigger modal -->
      <a class="btn btn-outline-dark" href="" data-toggle="modal" data-target="#showQRCodeModal"
        style="margin-left: 1rem;" role="button">
        群二维码 &raquo;
      </a></p>
  </div>

</div>
<br>
<!-- 公告栏结束 -->