<!-- 公告栏 -->
<div class="row">
  <div class="col-md">
    <h2>加入QQ群</h2>
    <p> 仙交闲置物品置换群建立于2019年。这里不仅是交大买卖闲置的根据地、更是同学愉快交流的场所。</p>
    <p><a target="_blank" class="btn btn-outline-dark"
        href="https://qm.qq.com/cgi-bin/qm/qr?k=14E5Fr69oLiVStf6yLww98-tji6m0Mdg&jump_from=webapi" role="button">
        加群 &raquo;
      </a>
      <!-- Button trigger modal -->
      <a class="btn btn-outline-dark" href="" data-toggle="modal" data-target="#showQRCodeModal"
        style="margin-left: 1rem;" role="button">
        群二维码 &raquo;
      </a></p>
  </div>

  <div class="col-md">
    <h2>网站代码托管</h2>
    <p>目前网站的代码托管在Github上，欢迎来star和fork、或open issue、又或贡献代码 </p>
    <p><a class="btn btn-outline-dark" href="https://github.com/Reina-a/xjtu-idle-board" role="button"
        target="_blank">Github项目主页 &raquo;</a></p>
  </div>

  <div class="col-md">
    <h2>问题反馈</h2>
    <p>希望同学们可以将使用中的问题和建议反馈给我，可以在群里@Reina找到我，或者发送邮件</p>
    <p><a class="btn btn-outline-dark" href="javascript:window.open('mailto:' + ['929755067','qq.com'].join('@'))"
        role="button">
        发送邮件 &raquo;
      </a></p>
  </div>
</div>
<!-- 公告栏结束 -->
<br>