<!-- 排序筛选导航栏 -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between" id="itemNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#itemNavbarBody" aria-controls="itemNavbarBody" aria-expanded="false" aria-label="Toggle navigation">
    <span class=" navbar-toggler-icon"></span>
  </button>
  <div id="itemNavbarBody" class="collapse navbar-collapse">
    <ul class="navbar-nav col-5 mr-auto">
      <li id="newestSort" class="nav-item"><a id="newestSortLink" href="search=null-sort=date_down-min=0-max=999999#itemNav" class="nav-link">最新发布<span class="sr-only">(current)</span></a></li>
      <li id="priceSort" class="nav-item"><a id="priceSortLink" href="search=null-sort=price_up-min=0-max=999999#itemNav" class="nav-link">价格</a></li>
      <li id='oldNewSort' class="nav-item"><a id="oldNewSortLink" href="search=null-sort=new_to_old-min=0-max=999999#itemNav" class="nav-link">成色</a></li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            分类
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">数码</a>
            <a class="dropdown-item" href="#">电器</a>
            <a class="dropdown-item" href="#">美妆</a>
        </div>
      </li> -->
    </ul>
    <form class="form-inline navbar-dark bg-dark my-2 my-lg-0" >
      <input id="priceMinInput" type="text" class="form-control-sm col-3" placeholder="最低">
      <span class="navbar-text col-1"> - </span>
      <input id="priceMaxInput" type="text" class="form-control-sm col-3" placeholder="最高">
      <button id="setRangeBtn" onclick="setPriceRange()" type="button" class="btn col-4 btn-sm btn-primary ml-3 ">设置价格区间</button>
    </form>
  </div>
</nav>
<!-- 排序筛选导航栏结束 -->

<script>
  // 根据请求的URL渲染itemNav & topNav
  function initItemNav(){
    currPath = window.location.pathname;
    if (currPath == '/' || currPath == '/index.html'){
      $('#newestSort').removeClass('active');
      $('#priceSort').removeClass('active');
      $('#oldNewSortLink').removeClass('active');
      $('#newestSort').addClass('active');
      return;
    }

    let regex = /\/search=(.*)-sort=(.*)-min=(\d+)-max=(\d+)/;
    let result = currPath.match(regex);

    // 顶部搜索栏部分
    if (result[1] == 'null') $('#topSearch').value='';
    else $('#topSearch').val(result[1]);

    // 排序部分
    let activeID = '';
    let priceSortInner = '价格';
    let priceSortLinkChioce = 'price_up'
    let hrefFwd = 'search=' + result[1] + '-sort=';
    let hrefEnd = '-' + 'min=' + result[3] + '-max=' + result[4] + '#itemNav';
    switch (result[2]){
      case 'price_up':   activeID = 'priceSort';  priceSortInner = '价格↑'; priceSortLinkChioce = 'price_down'; break;
      case 'price_down': activeID = 'priceSort';  priceSortInner = '价格↓'; priceSortLinkChioce = 'price_up';   break;
      case 'date_down':  activeID = 'newestSort'; priceSortInner = '价格';  priceSortLinkChioce = 'price_up';   break;
      case 'new_to_old': activeID = 'oldNewSort'; priceSortInner = '价格';  priceSortLinkChioce = 'price_up';   break;
      case 'null': activeID = 'newestSort'; break;
      default: break;
    }
    // 改变内容
    $('#priceSortLink').html(priceSortInner);
    // 改变链接
    $('#newestSortLink').attr("href",  hrefFwd + 'date_down' + hrefEnd);
    $('#priceSortLink').attr("href", hrefFwd + priceSortLinkChioce + hrefEnd);
    $('#oldNewSortLink').attr("href",  hrefFwd + 'new_to_old' + hrefEnd);
    // 移除所有 active
    $('#newestSort').removeClass('active');
    $('#priceSort').removeClass('active');
    $('#oldNewSortLink').removeClass('active');
    // 添加当前 active
    $('#' + activeID).addClass('active');
    

    console.log(parseInt(result[3]) == 0);
    // 价格区间部分
    if (!(parseInt(result[3]) == 0 && parseInt(result[4]) == 999999)){
      $('#priceMinInput').val(result[3]);
      $('#priceMaxInput').val(result[4]);
    } else{
      $('#priceMinInput').val("");
      $('#priceMaxInput').val("");
    } 
  }

  function setPriceRange(){
    // 获取价格区间
    let priceMin = parseInt($('#priceMinInput').val());
    let priceMax = parseInt($('#priceMaxInput').val());

    // 验证数据
    if (isNaN(priceMin)) priceMin = 0;
    if (isNaN(priceMax)) priceMax = 999999;

    if (!(typeof priceMin == "number" && priceMin >=0) || !(typeof priceMax == "number" && priceMax >=0) || !(priceMin <= priceMax)){
      alert('非法数据, 请检查数据合理性');
      return;
    }
    
    // 结合现有限制重定向
    let currPath = window.location.pathname;
      /* pathName为'/'或'/index.html'时 */
    if (currPath == '/' || currPath == '/index.html'){
      redirectSpecial('null', 'null', priceMin, priceMax);
      return;
    }
      /* 其他情况(可以使用正则匹配) */
    let regex = /\/search=(.*)-sort=(.*)-min=(\d+)-max=(\d+)/;
    let result = currPath.match(regex);
    redirectSpecial(result[1], result[2], priceMin, priceMax);
    //return;
  }

  function redirectSpecial(searchExp, sortMode, priceMin, priceMax){
    tarHref = 'search=' + searchExp + '-sort=' + sortMode +'-min=' + priceMin + '-max=' + priceMax + '#itemNav';
    // for-debug --reserve
    console.log('Redirecting to: ' + tarHref);
    window.location.href = tarHref;
  }

</script>
