<!--Item Modal -->

<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal主体 -->
    <div class="modal-content">
      <!-- Modal头: 商品名称 -->
      <div class="modal-header">
        <h5 class="modal-title" id="itemModalTitle">
          <!-- jQuery: itemName -->
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- 价格和运送信息 -->
      <div class="modal-body container">
        <img id="itemModalCover" style="width: 100%;"><!-- jQuery: coverFileName -->
        <div class="row" style="margin-left: 0rem;">
          <h2 id="itemModalPrice" class="align-self-center" style="margin-top: 1rem;">￥?
            <!-- jQuery: itemPrice -->
          </h2>

          <div id="itemModalBandageArea" class="align-self-center" style="margin-top: 0.9rem; margin-left: 1rem;">
            <span id="itemModalBandagePost" class=" badge badge-primary">邮寄</span>
            <span id="itemModalBandageFace" class=" badge badge-success">当面交易</span>
            <span id="itemModalBandageNoNeed" class=" badge badge-success">无需运送</span>
          </div>
        </div>
        <hr>

        <!-- 简介、新旧描述和备注 -->
        <h5>简介</h5>
        <p id="itemModalDescription"></p>
        <h5>新旧描述</h5>
        <p id="itemModalOldNewRate">
          <!-- jQuery: itemOldNewRate -->
        </p>
        <small id="itemModalRemarks">
          <!-- jQuery: remarks --></small>
        <hr>

        <!-- 联系方式(未登录) -->
        <h5>联系方式</h5>
        <div>
          <p id="unloginReminder"><a href="/login">登录</a>后方可获取卖家联系方式</p>
          <p id="itemModalUserQQ" style="margin: 0.5rem; margin-left: 0; display: none;">QQ
            <!-- jQuery: userQQ -->
          </p>
          <p id="itemModalUserWeChat" style="margin: 0.5rem; margin-left: 0; display: none;">微信
            <!-- jQuery: userWeChat -->
          </p>
        </div>
      </div>

      <!-- 底部按钮: 获取联系方式 / 关闭 Modal -->
      <div class="modal-footer">
        <a id="launchQQ" type="button" href="" class="btn btn-primary" target="_blank" style="display: none;">发起QQ会话</a>
        <!-- jQuery: userQQ -->
        <div id="copyWeChatID" class="btn btn-success" data-clipboard-text='' style="display: none;">复制微信号</div>
        <!-- jQuery: userWeChat -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script>
  // 获取商品信息的请求 (Token ×)
  getItemInfo = function (itemID) {
    $.ajax({
      type: 'GET',
      url: '/getItemInfo',
      data: { 'itemID': itemID },
      success: (itemSQLResult) => {
        if (itemSQLResult.toString().startsWith('ERROR')) {
          // ! 后端返回错误
          console.log(itemSQLResult);
          alert(`查询商品信息失败: ${itemSQLResult}`);
          return;
        } else {

          // √ 后端返回数据正常
          // jQuery 修改页面
          $(".badge").css("display", "");
          $(".badge").css("font-size", "0.9rem");
          $("#itemModalCover").attr('src', 'upload/' + itemSQLResult.CoverFileName);
          $("#itemModalTitle").html(itemSQLResult.ItemName);
          $("#itemModalPrice").html("￥" + itemSQLResult.ItemPrice);
          if (!itemSQLResult.DeliverByPost) $("#itemModalBandagePost").css("display", 'none');
          if (!itemSQLResult.DeliverByFace) $("#itemModalBandageFace").css("display", 'none');
          if (!itemSQLResult.DeliverNoNeed) $("#itemModalBandageNoNeed").css("display", 'none');
          $("#itemModalDescription").html(itemSQLResult.ItemDescription);
          $("#itemModalOldNewRate").html(itemSQLResult.ItemOldNewRate);
          $("#itemModalRemarks").html("备注：" + itemSQLResult.Remarks);

          // 初始化卖家信息
          $("#unloginReminder").css("display", "")
          $("#launchQQ").css("display", "none")
          $("#copyWeChatID").css("display", "none")
          $("#itemModalUserQQ").css("display", "none");
          $("#itemModalUserWeChat").css("display", "none")

          // 获取卖家联系方式的请求 (Token √)
          $.ajax({
            type: 'GET',
            url: '/getItemUserInfo',
            headers: { 'Authorization': `Bearer ${token}` },
            data: { 'userName': itemSQLResult.UserName },
            success: (userSQLResult) => {
              if (userSQLResult.toString().startsWith('ERROR')) {
                console.log(userSQLResult)
                // 前端已有措施提醒用户登录
                errType = userSQLResult.toString().replace('ERROR: ', '').replace(" (Router: getItemUserInfo)", '');
                // 警告除未登录以外的错误
                if (!(errType == 'JWT_VERIFY_ERROR')) {
                  alert(`获取卖家信息失败: ${userSQLResult}`);
                  // 隐藏未登录提示
                  $("#unloginReminder").css("display", "none")
                }
              } else {

                // 隐藏未登录提示
                $("#unloginReminder").css("display", "none")

                // 检测QQ联系方式是否存在, 并进行相应的修改
                if (userSQLResult.UserQQ != "") {
                  // 修改链接: 发起会话
                  $("#launchQQ").attr("href", `http://wpa.qq.com/msgrd?v=3&uin=${userSQLResult.UserQQ}&site=qq&menu=yes`)
                  // 取消隐藏: 发起会话
                  $("#launchQQ").css("display", "")
                  // 修改文本: QQ联系方式
                  $("#itemModalUserQQ").html(`QQ: ${userSQLResult.UserQQ}`);
                  // 取消隐藏: QQ联系方式
                  $("#itemModalUserQQ").css("display", "");
                }

                // 检测微信联系方式是否存在, 并进行相应的修改
                if (userSQLResult.UserWeChat != "") {
                  // 修改剪切板插件属性                                    
                  $("#copyWeChatID").attr("data-clipboard-text", `${userSQLResult.UserWeChat}`)
                  // 取消隐藏: 复制到剪贴板
                  $("#copyWeChatID").css("display", "")
                  // 修改文本: 微信联系方式
                  $("#itemModalUserWeChat").html(`微信: ${userSQLResult.UserWeChat}`);
                  // 取消隐藏: 微信联系方式
                  $("#itemModalUserWeChat").css("display", "");
                }
              }
            }
          })
        }
      }
    })
  }

</script>