<!-- 排序筛选导航栏 -->
<div id="itemNavPositioner"></div>
<nav class="navbar navbar-expand-md navbar-light bg-light" id="itemNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#itemNavbarBody"
    aria-controls="itemNavbarBody" aria-expanded="false" aria-label="Toggle navigation">
    <span class=" navbar-toggler-icon"></span>
  </button>
  <div id="itemNavbarBody" class="collapse navbar-collapse">
    <ul class="navbar-nav col-6 mr-auto">
      <li id="newestSort" class="navbar-text" ><a id="newestSortLink" onclick="itemNavLink('search=null-sort=price_up-min=0-max=999999-start=0-limit=5', 'date_down')"
          href="javascript:void(0);" class="fas fa-bell nav-link">最新发布<span
            class="sr-only">(current)</span></a></li>
      <li id="priceSort" class="navbar-text"><a id="priceSortLink"
          href="javascript:void(0);" class="fas fa-yen-sign nav-link" onclick="itemNavLink('search=null-sort=price_up-min=0-max=999999-start=0-limit=5', 'price_down')">价格</a></li>
      <li id="showItemOffShelf" class=" navbar-text"><a id="showItemOffShelfIcon" class="fas fa-toggle-off nav-link">显示已下架商品</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0 col-md-4">
      <input id="priceMinInput" type="text" class="form-control-sm col" placeholder="最低">
      <span class="navbar-text ">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
      <input id="priceMaxInput" type="text" class="form-control-sm col" placeholder="最高">
      <button id="setRangeBtn" type="button" class="btn col btn-sm btn-primary ml-3 ">设置</button>
    </form>
  </div>
</nav>
<!-- 排序筛选导航栏结束 -->