<div class="container">
    <div id="login">
        <div class="col-md-4 m-auto">
            <h3 style="margin: auto;">Login</h3> 
        </div>
        <br>
        <form action="" method="POST">
            <div class="form-group col-md-4 m-auto">
                <label for="itemDesc">ID</label>
                <input type="text" name="userID" class="form-control" placeholder="请输入ID" id="userID" required>
                <div class="invalid-feedback">
                    输入内容不能为空~
                </div>
            </div>
            <br>
            <div class="form-group col-md-4 m-auto">
                <label for="oldNewRate">密码</label>
                <input type="text" name="key" class="form-control" id="key" placeholder="请输入密码" required>
                <div class="invalid-feedback">
                    输入内容不能为空~
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-4 m-auto justify-content-sm-end">
                <button class="btn btn-primary col-sm-4" type="button" name="upvote" value="upvote" formmethod="POST">登录</button>
            </div>
        </form>
    </div>
        
        
        
</div>
