<html lang="zh-CN">
<head>
    <%- include ('public/head') -%>
</head>
<body>
    <%- include ('public/nav_top') -%>
    <%- include ('public/foot') -%>
    <%- include ('public/bootstrap_core') -%>  
</body>
</html>