<html lang="zh-CN">
    <head>
        <%- include ('public/head') %>
    </head>
    <body onload="initItemNav()">

        <p id="tokenArea" style="display: none;"></p>

        <%- include ('public/bootstrapCore') %>
        <%- include ('public/vue') %>

        <script>
            var token = JSON.parse(document.getElementById('tokenArea').innerHTML).token;
            if (token){
                alert('get Token!');
                window.localStorage.setItem('token', token)
                console.log(window.localStorage.getItem('token'))
            }else{
                alert('No Token!')
            }
        </script>
    </body>
</html>