<html lang="zh-CN">
    <head>
        <%- include ('public/head') %>
    </head>
    <body>
        <%- include ('public/bootstrapCore') %>
        <%- include ('especial/login/login') %>
        <%- include ('especial/login/ajax_login') %>
    </body>
</html>