<html lang="zh-CN">
    <head>
        <%- include ('public/head') %>
    </head>
    <body>
        <div class="container">
            <%- reminder %>
        </div>
        <%- include ('public/bootstrapCore') %>
    </body>
</html>

