<html lang="zh-CN">
    <head>
        <%- include ('public/head') %>
    </head>
    <body>
        <%- include ('public/bootstrapCore') %>
        <div class="container">
            <%- include ('especial/register/register') %>
        </div>
        
        <%- include ('especial/register/ajax_register') %>
    </body>
</html>

