<h2>发布闲置</h2>
<p id="welcome"></p>
<hr>
<form action="" method="post">
    <div class="row">
        
        <div class="col-md-8">
            <div class="row col-md-12" >
                <div class="form-group col-sm-8">
                    <label for="itemName">商品名称*</label>
                    <input type="text" name="itemName" class="form-control" placeholder="itemName" id="itemName">
                    <small id="itemNameHelper" class="form-text text-muted">输入准确的商品名称, 更容易被搜索到(36字以内)</small>
                    <div class="invalid-feedback">
                        字符长度超出限制
                    </div>
                </div>
            
                <div class="form-group col-md-4">
                    <label for="itemName">商品价格*</label>
                    <input type="text" name="itemPrice" class="form-control" placeholder="itemPrice" id="itemPrice">
                    <small id="itemNameHelper" class="form-text text-muted">请输入整数, 最小值为1</small>
                    <div class="invalid-feedback">
                        请检查输入是否符合要求
                    </div>
                </div>
            </div>
            
            <div class="form-group col-sm-12">
                <label for="itemDescription">商品简介*</label>
                <input type="text" name="itemDescription" class="form-control" placeholder="itemDescription" id="itemDescription" required>
                <small id="itemDescriptionHelper" class="form-text text-muted">简要的补充说明（200字以内）</small>
                <div class="invalid-feedback">
                    字符长度超出限制
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="itemOldNewRate">新旧程度描述</label>
                <input type="text" name="itemOldNewRate" class="form-control" placeholder="itemOldNewRate" id="itemOldNewRate">
                <small id="itemDescriptionHelper" class="form-text text-muted">36字以内</small>
                <div class="invalid-feedback">
                    字符长度超出限制
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label for="coverFileName">服务器封面图片文件名</label>
                <input type="text" name="coverFileName" class="form-control disable" placeholder="coverFileName" id="coverFileName" readonly>
                <small id="itemNameHelper" class="form-text text-muted">上传图片后自动生成</small>
            </div>
            <div class="invalid-feedback">
                请上传图片
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="file">上传封面图片</label>
            <input type="file" name="file" id="uploadfile" data-browse-on-zone-click="true">
        </div>
        
        <!-- <div class="col-md-4">
            <img src="images/north.jpg"
                style="background-image:url(./images/north.jpg)" class="img-thumbnail" >
            <button id="btn_uploadPic" class="btn btn-outline-primary col-sm-12 mt-3" type="submit" name="upvote" value="upvote" formmethod="POST">上传封面图片</button>
        </div> -->
    </div>
    <hr>
    <div class=" col-sm-10">
        <label for="" class="h5">运送方式</label>
        <div class="row">
            
            <div class="form-check form-inline col-sm">
                <input class=" form-check-input" type="checkbox" value="" name="deliverByPost" id="deliverByPost">
                <label class=" form-check-label" for="deliverByPost">
                    支持邮寄
                </label>
            </div>
            <div class="form-check form-inline col-sm">
                <input class=" form-check-input" type="checkbox" value="" name="deliverByFace" id="deliverByFace">
                <label class=" form-check-label" for="deliverByFace">
                    支持当面交易
                </label>
            </div>
            <div class="form-check form-inline col-sm">
                <input class=" form-check-input" type="checkbox" value="" name="deliverNoNeed" id="deliverNoNeed">
                <label class=" form-check-label" for="deliverNoNeed">
                    无需运送
                </label>
            </div>

        </div>
    </div>
    
    
    <hr>
    <div class="form-group col-sm-10">
        <label for="remarks" class="h5">备注</label>
        <input type="text" class="form-control" placeholder="remarks" name="remarks" id="remarks">
        <small id="itemDescriptionHelper" class="form-text text-muted">100字以内</small>
        <div class="invalid-feedback">
            字符长度超出限制
        </div>
    </div>
    
    <div class="col-sm-12 justify-content-sm-end">
        <button id="btn_submit" class="btn btn-primary col-sm-1" type="button" name="upvote" value="upvote" formmethod="POST">发布</button>
    </div>
</form>

